{% load static %}

<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      href="{% url 'home_page' %}"
    >
      <div class="sidebar-brand-icon">
        <img src="{% static 'img/logo-icon.png' %}" alt="" />
      </div>
      <div class="sidebar-brand-text mx-3">
        <img src="{% static 'img/logo.png' %}" alt="" />
      </div>
    </a>

    <li class="nav-item active">
      <a class="nav-link" href="{% url 'restoran_page' %}">
        <i class="fas fa-fw fa-film"></i>
        <span>Restoranlar</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="events.html">
        <i class="fas fa-fw fa-glass-cheers"></i>
        <span>Kampanyalar</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="people.html">
        <i class="fas fa-fw fa-users"></i>
        <span>İnsanlar</span></a
      >
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">Ekstra</div>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <i class="fas fa-fw fa-pager"></i>
        <span>Sayfalar</span>
      </a>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Tüm Sayfalar</h6>
          <a class="collapse-item" href="{% url 'restoran_page' %}">Restoranlar</a>
          <a class="collapse-item" href="events.html">Kampanyalar</a>
          <a class="collapse-item" href="people.html">İnsanlar</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
        <i class="fas fa-fw fa-clone"></i>
        <span>Ekstra Sayfalar</span>
      </a>
      <div
        id="collapsePages"
        class="collapse"
        aria-labelledby="headingPages"
        data-parent="#accordionSidebar"
      >
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Giriş Ekranı:</h6>
          <a class="collapse-item" href="login.html">Giriş Yap</a>
          <a class="collapse-item" href="register.html">Kayıt Ol</a>
          <a class="collapse-item" href="forgot-password.html"
            >Şifremi Unuttum</a
          >
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">Ekstra Sayfalar:</h6>
          <a class="collapse-item" href="404.html">404 Sayfası</a>
          <a class="collapse-item" href="blank.html">Boş Sayfa</a>
        </div>
      </div>
    </li>
  </ul>